*{
    font-family: "sora";
}

.Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 87%;
    position: relative;
    margin: -5px auto;
}

h3{
    font-size: 16px;
    font-weight: 600;
    color: var(--blackText);
}

.Text{
    margin-top: -5px;
    font-size: 14px;
    font-weight: 300;
    color: var(--lightGreyBackground);
    display: inline;
}

.ReadMore{
    font-weight: 600;
    color: var(--orangeButton);
    display: inline;
    font-size: 14px;
}

.ReadMore:hover{
    opacity: 0.7;
    cursor: pointer;
}