.priceBriefItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px; /* Adjust as needed */
}

.priceBriefItem .label {
  font-weight: 400;
}

.priceBriefItem .amount {
  text-align: right;
}

.priceBriefItem .originalAmount {
  text-decoration: line-through;
  color: var(--midGreyText);
  margin-right: 5px; /* Space between original and discounted price */
}

.priceBriefItem .discountedAmount {
  color: var(--midGreyText); /* Black color for the discounted price */
  font-weight: bold;
}
