.BoxContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  min-width: 327px;
  margin: 10px auto auto -10px;
  position: relative;
}

.SizeTextContainer {
  display: flex;
  justify-content: flex-start; /* Align buttons to the left */
  align-items: flex-start;
  flex-direction: row;
  margin: 10px auto -10px;
  width: 87%;
}

.SizeContainer {
  display: flex;
  justify-content: flex-start; /* Align buttons to the left */
  align-items: flex-start;
  flex-direction: row;
  margin: 0px auto;
  width: 87%;
}

.SizeText {
  font-size: 16px;
  font-weight: 600;
  color: var(--BlackText);
  margin-bottom: 10px;
  margin-left: 10px; /* Align "Size" with the first button */
}
